@model System.Collections.Generic.IEnumerable<WEB.Ecommerce.Models.Categoria>

<div class="container">
    <div class="btn-group btn-group-justified">
        @foreach (var categoria in Model)
        {
            @Html.ActionLink(categoria.Tipo, "Browse", "Categorias", new { Categoria = categoria.Tipo }, new { @class = "btn btn-primary" })
        }

        @Html.ActionLink("More...", "Index", "Categorias", null, new { @class = "btn btn-primary" })
    </div>
</div>
