@model System.Collections.Generic.IEnumerable<WEB.Ecommerce.Models.Categoria>

<style>
   
   /*.btn.btn-outline-primary {
    color: #71b7f3;
    border: 2px;
    border-color: #fff;
}


.btn-outline-primary:hover {
    color: #fff;
    
}*/

</style>



@*<div class="container">
    <div class="btn-group btn-group-justified">
        @foreach (var categoria in Model)
        {
            @Html.ActionLink(categoria.Tipo, "Browse", "Categorias", new { Categoria = categoria.Tipo }, new { @class = "btn btn-primary" })
        }

        @Html.ActionLink("More...", "Index", "Categorias", null, new { @class = "btn btn-primary" })
    </div>
</div>*@
<div class="container">
    
    <div class="btn-group btn-group-justified">

        @foreach (var categoria in Model)
        {
            @Html.ActionLink(categoria.Tipo, "Browse", "Categorias", new { Categoria = categoria.Tipo }, new { @class = "btn btn-primary" })
        }

        @Html.ActionLink("More...", "Index", "Categorias", null, new { @class = "btn btn-primary" })
          
    </div>
   
   </div>
    

