@model System.Collections.Generic.IEnumerable<WEB.Ecommerce.Models.Categoria>


    <div class="list-group">

        @foreach (var categoria in Model)
        {
            <a>  @Html.ActionLink(categoria.Tipo, "Browse", "Produtos", new { Categoria = categoria.Tipo }, new { @class = "list-group-item" }) </a>
        }

        @Html.ActionLink("More...", "Index", "Categorias", null, new { @class = "list-group-item" })


    </div>




