@model System.Collections.Generic.IEnumerable<WEB.Ecommerce.Models.Categoria>

<!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                

                    @{Html.RenderAction("CategoriasMenu", "Produtos");}
                  
                 
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img class="slide-image" src="http://images.shoptime.io/mktshop/2016/home/0810/Banner_home_124684379.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://ishop1-a.akamaihd.net/mktshop/2016/home/1209/destaque-baixa-iphone.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://images.shoptime.io/mktshop/2016/home/0810/Banner_home_128873636.png" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://ishop1-a.akamaihd.net/mktshop/2016/home/0810/bh_124488474_08102016.png" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    @foreach (var categoria in Model)
                    {

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/Imagens/Automoveis/CategoriaAutomovel.jpg" width="150" height="150" alt="">
                            <div class="caption">
                                <h4>
                                    <a href="#">@Html.ActionLink(categoria.Tipo, "Browse", new { Controller = "Produtos", Categoria =  categoria.Tipo })</a>
                                </h4>
                                <p>@categoria.Descricao</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>                               
                            </div>
                        </div>
                    </div>

                    }


                    </div>

                   

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <h4>
                            <a href="#">Like this template?</a>
                        </h4>
                        <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                        <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
                    </div>

                </div>

            </div>

        </div>

    


